<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>

<body>

    <div class="nav-container">
        <ul class="nav-items">
            <a href="/logout"><button class="logBtn" type="submit">Logout</button></a>

        </ul>
    </div>


    <div class='loginboxxx'>
        <div class="successs">
            {{messages.successs}}
        </div>
        {{!-- <div> --}}
        <h3>Here is a list of booked employees available weekly</h3>

            <table class="useExpense" border="1">
                <tr class="weekdaysss">
                    {{#each colors}}
                    <th class="{{this.state}} workday">{{this.weekday}}</th>
                    {{/each}}
                </tr>

                <tr class="daysss">
                    <td>
                        {{#each monday}}
                        {{username}}
                        {{/each}}
                    </td>
                    <td>
                        {{#each tuesday}}
                        {{username}}
                        {{/each}}
                    </td>
                    <td>{{#each wednesday}}
                        {{username}}
                        {{/each}}
                    </td>
                    <td>{{#each thursday}}
                        {{username}}
                        {{/each}}
                    </td>
                    <td>{{#each friday}}
                        {{username}}
                        {{/each}}
                    </td>
                    <td>{{#each saturday}}
                        {{username}}
                        {{/each}}
                    </td>
                    <td>{{#each sunday}}
                        {{username}}
                        {{/each}}
                    </td>
                </tr>
            </table> <br>
        
        <a href="/delete"><button type="submit" class="loginBtn2">Delete</button></a>
    </div>


</body>

</html>