<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>

<body>

    <div class="nav-container">
        <ul class="nav-items">
            <!-- Navigation -->
            <li class="nav-item"><a href="/">Home</a></li>
            <li class="nav-item"><a href="/login">Login</a></li>
            {{!-- <li class="nav-item"><a href="/days">Schedule</a></li> --}}

            {{!-- <li class="nav-item"><a href="#">Contact</a></li> --}}
            <!-- Dropdown menu -->

        </ul>
    </div>
    <h1>Waiter Availability</h1>
    


    <div class='loginboxxx'>
        <div class="successs">
            {{messages.successs}}
        </div>

        {{!-- <div class="month">
            <ul>
                <li class="prev">&#10094;</li>
                <li class="next">&#10095;</li>
                <li>August<br><span style="font-size:18px">2022</span></li>
            </ul>
        </div> --}}
        <table class="useExpense" border="1">

            <tr class="weekdaysss">
                <td>Mo</td>
                <td>Tu</td>
                <td>We</td>
                <td>Th</td>
                <td>Fr</td>
                <td>Sa</td>
                <td>Su</td>
            </tr>

            <tr class="daysss">
                <td>
                    {{#each monday}}
                    {{username}}
                    {{/each}}
                </td>
                <td>
                    {{#each tuesday}}
                    {{username}}
                    {{/each}}
                </td>
                <td>{{#each wednesday}}
                    {{username}}
                    {{/each}}
                </td>
                <td>{{#each thursday}}
                    {{username}}
                    {{/each}}
                </td>
                <td>{{#each thursday}}
                    {{username}}
                    {{/each}}
                </td>
                <td>{{#each friday}}
                    {{username}}
                    {{/each}}
                </td>
                <td>{{#each saturday}}
                    {{username}}
                    {{/each}}
                </td>
        </table>
        <a href="/delete"><button type="submit" class="loginBtn2">Delete</button></a>


</body>

</html>