<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
    <title>Waiters</title>
</head>

<body>

    <div class="nav-container">
        <ul class="nav-items">
            <!-- Navigation -->
            {{!-- <li class="nav-item"><a href="/login">Login</a></li> --}}
            <a href="/logout"><button class="logBtn" type="submit">Logout</button></a>
            {{!-- <li class="nav-item"><a href="/">Home</a></li> --}}

            {{!-- <li class="nav-item"><a href="/days">Schedule</a></li> --}}

            {{!-- <li class="nav-item"><a href="#">Contact</a></li> --}}
            <!-- Dropdown menu -->

        </ul>
    </div>
    <h1>Waiter Availability</h1>

    <div class="success">
        {{messages.success}}
    </div> <br>



<div>

    <a href="#" class="trigger_popup" id="success_trigger">Success</a>
    <div class="popup" id="success">
      <div class="popup-content">
        <div class="imgbox">
          <img src="checked.png" alt="" class="img">
        </div>
        <div class="title">
          <h3>Success!</h3>
        </div>
        <p class="para">Your account has been created successfully</p>
        <form action="">
          <a href="#" class="button" id="s_button">OKAY</a>
        </form>
      </div>
    </div>
</div>

<br> <br>
    <div class="loginboxx">
        <form action="/waiters/{{user}}" method="post">
            <h3>{{output}}</h3>
          

            {{#each week}}
                <label class="days" for="">{{this.workday}}
                    <input type="checkbox" value="{{this.workday}}" {{this.status}} name="day" >
                </label>
            {{/each}}

            
            <br> <br>
            <a href="/week"><button type="submit" class="logBtn">Schedule in</button></a>


        </form> <br>


    </div>


</body>

</html>